.Reset-Password {
    width: 100%;
}

.Reset-Password .Field-Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    box-sizing: border-box;
}

.Reset-Password .Field-Wrapper label {
    width: 100%;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--primary);
}

.Reset-Password .Field-Wrapper input {
    width: 100%;
    outline: none;
    border: 2px solid var(--primary-extra-dim);
    border-radius: 5px;
    padding: 8px 12px;
    box-sizing: border-box;
    background: transparent;
    font-size: 1rem;
    color: var(--primary-dim);
}

.Reset-Password .Field-Wrapper input:focus {
    border: 2px solid var(--secondary);
}