:root {
  --primary: #23374D;
  --primary-dim: #23374DAA;
  --primary-extra-dim: #23374D44;
  --primary-ultra-dim: #23374D22;
  --secondary: #0085FF;
  --secondary-dim: #85C3FF;
  --light-grey: #EEEEEE;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  overflow: hidden;
}

@font-face {
  src: url('./Assets//Font/CircularStd-Medium.ttf');
  font-family: 'Circular Std Medium';
}